.hero {
    padding: 3.5rem 5rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    min-height: 285px;
  
    background-image: url('../assets/hero-banner.png');
    background-size: cover;
    background-position: 50%;
  
    color: #FFFFFF;
  }
  
  .hero h1 {
    font-size: 46px;
    font-weight: 800;
  
    margin-bottom: 8px;
  }
  
  .hero p {
    font-size: 17px;
    font-weight: 400;
  
    color: #FFFFFF;
  }
  